<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/css/rep_styles.css"> 
</head>

<!--<body style="background-color:powderblue;">-->
<body class="testbg">
<!body>
<ul class="menu">
            <!--<li><a href="{{ url_for('login') }}">Login</a></li-->
            <li><a href="{{ url_for('index') }}">Index</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <!--<li><a href="{{ url_for('search') }}">Search for Recipe</a></li>-->
</ul>
<div class="test"> 
<h1 class="centerheader">Recipe Journal - Add Recipe </h1>
<h2>Add New Recipe</h2>
</div>
<h3>File Upload - Please upload your recipe file here:</h3>
                  <form method="POST" action="/upload" enctype=multipart/form-data>
                    <input type=file name=file>
                    <input class="confirmbutton" type=submit value=Upload>
                  </form>
<br>
<br>
<h3>Manual Add - Please add recipe details</h3>
<form method=POST enctype=multipart/form-data action="/add_rec">
  <label for="r_title">Recipe Title:</label><br>
  <input type="text" id="r_title" name="r_title" value=""><br><br>
  
  <!--<label for="r_meas">Measurement:</label><br>
  <input type="radio" id="metric" name="metric" value="metric">
  <label for="metric">Metric</label><br>
  <input type="radio" id="imperial" name="imperial" value="imperial">
  <label for="imperial">imperial</label><br><br>
  -->
  
  <label for="r_ing">Ingredients:</label><br>
  <textarea id="r_ing" name="r_ing" rows="10" cols="60">
  </textarea><br><br>
  
  <label for="r_method">Method:</label><br>
  <textarea id="r_method" name="r_method" rows="20" cols="60">
  </textarea><br><br>
  
  <label for="r_notes">Notes (Servings, Prep time, Cook time, Total time):</label><br>
  <input type="text" size="25" id="r_notes" name="r_notes" value=""><br><br>
  
  <label for="r_key">Keywords:</label><br>
  <input type="text" size="25" id="r_key" name="r_key" value=""><br><br>
  
  <label for="r_imgfile">Images / Videos:</label><br>
  <input type="file" id="r_imgfile" name="r_imgfile" value=""><br><br>
  
  <input class="confirmbutton" type="submit" value="Add Recipe">
</form> 
</body>
</html>