<!DOCTYPE html>
<html>
<head>
 <title>Recipe Journal</title>
<style>
.centerheader{
	text-align:center;
	font-size:300%
	color:blue;
	}
</style>
</head>

<body style="background-color:powderblue;">
<!body>
    <div class="content">
        <h1 class="centerheader">Recipe Journal - Index page <br><br>
        <img src="images/files_img.jpg" alt="FilesImage" style="width:150px;height:150px;">
        </h1>
        <h2> {{ msg }}</h2>
        <div>
              <h3>File Upload</h3>
              <h4>Please upload your file here:</h4>
                  <form method="POST" action="/upload" enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                  </form>
        </div>

        <div>
          <h3>These are your uploaded files:</h3>
          <ul>
            {% for item in contents %}
              <li>
                <!--<a href="/download/{{ item.Key }}"> {{ item.Key }} </a> 
                -->
                <a href="/download/{{ item.Key }}"> {{ item.Key }}
                <img src="https://nkrecipe1234.s3.amazonaws.com/{{ item.Key }} "></a>
              </li>
            {% endfor %}
          </ul>
          <h3><p>File Download - Click on one of the filenames above to download it.</p></h3>
          
          <h3><p> File Delete<p></h3>
        </div>
    </div>
</body>
</html>