<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/css/rep_styles.css"> 
</head>

<!--<body style="background-color:powderblue;">-->
<body class="testbg">
  
<div class="test"> 
<h1 class="centerheader">Recipe Journal - Profile page </h1>
<h2>Profile</h2>
</div>

<div class="a">
<ul class="a">
            <!--<li><a href="{{ url_for('login') }}">Login</a></li-->
            <li><a href="{{ url_for('index') }}">Index</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <!--<li><a href="{{ url_for('search') }}">Search for Recipe</a></li>-->
</ul>
</div>

<p>User Details</p>
<form class="botbor" action="/update_userdetails_page.py">
  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname" value=""><br>
  <label for="pwd">Password:</label><br>
  <input type="text" id="pwd" name="pwd" value=""><br><br>
  <input type="submit" value="Update User Details">
</form> 

<!--<h2><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></h2>-->
<div class="topbor">
<a class="confirmbutton" href="{{ url_for('add_recipe') }}">Add New Recipe</a>
</div>
<h2><p><b>Previously added recipes - These are your uploaded files:</b></p></h2>
<div class="content"></div>
  <ul>
    {% for item in contents %}
    <li>
      <a href="/download/{{ item.Key }}"> {{ item.Key }} 
      </a>
      <!-- a href="/download/{{ item.Key }}"> {{ item.Key }}
      If image attached diaplay image with the filename
      <img src="https://nkrecipe1234.s3.amazonaws.com/{{ item.Key }} " width="150" height="150"></a>
      -->
      </li>
      {% endfor %}
  </ul>
  <h4><p>File Download - Click on one of the filenames above to download it.</p></h4>
<br>
<br>
<h2><p><b>Search Recipes</b><p></h2>
</body>
</html>