<!DOCTYPE html>
<html>

<head>
<style>
.centerheader{
	text-align:center;
	font-size:300%
	color:blue;
	}
</style>
</head>

<body style="background-color:powderblue;">
<ul class="menu">
            <!--<li><a href="{{ url_for('login') }}">Login</a></li-->
            <li><a href="{{ url_for('index') }}">Index</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <!--<li><a href="{{ url_for('search') }}">Search for Recipe</a></li>-->
</ul>
<h1 class="centerheader">Recipe Journal - Profile page <br><br>
<!--<img src="images/profile_img.jpg" alt="ProfileImage" style="width:150px;height:150px;">-->
</h1>
<h2>Profile</h2>
<p>User Details</p>
<form action="/update_userdetails_page.py">
  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname" value=""><br>
  <label for="pwd">Password:</label><br>
  <input type="text" id="pwd" name="pwd" value=""><br><br>
  <input type="submit" value="Update User Details">
</form> 

<h2><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></h2>

<h2><p><b>Previously added recipes - These are your uploaded files:</b></p></h2>
<div class="content"></div>
  <ul>
    {% for item in contents %}
    <li>
      <a href="/download/{{ item.Key }}"> {{ item.Key }} 
      </a>
      <!-- a href="/download/{{ item.Key }}"> {{ item.Key }}
      If image attached diaplay image with the filename
      <img src="https://nkrecipe1234.s3.amazonaws.com/{{ item.Key }} " width="150" height="150"></a>
      -->
      </li>
      {% endfor %}
  </ul>
  <h4><p>File Download - Click on one of the filenames above to download it.</p></h4>
<br>
<br>
<h3><p><b>Search Recipes</b><p></h3>
</body>
</html>