<!DOCTYPE html>
<html>

<head>
<style>
.centerheader{
	text-align:center;
	font-size:300%
	color:blue;
	}
</style>
</head>

<body style="background-color:powderblue;">
<!body>
<h1 class="centerheader">Recipe Journal - Profile page <br><br>
<img src="images/profile_img.jpg" alt="ProfileImage" style="width:150px;height:150px;">
</h1>
<h2>Profile</h2>
<p>User Details</p>
<form action="/update_userdetails_page.py">
  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname" value=""><br>
  <label for="pwd">Password:</label><br>
  <input type="text" id="pwd" name="pwd" value=""><br><br>
  <input type="submit" value="Update User Details">
</form> 

<h3><p><b>Added Recipes</b></p></h3>
<div>
          <h3>These are your uploaded files:</h3>
          <ul>
            {% for item in contents %}
            <a href="/download/{{ item.Key }}"> {{ item.Key }}
            {% endfor %}
          </ul>
<br>
<br>
<br>
<h3><p><b>Search Recipes</b><p></h3>


</body>
</html>