<!DOCTYPE html>
<html>
<head>
 <title>Recipe Journal</title>
<style>
.centerheader{
	text-align:center;
	font-size:300%
	color:blue;
	}
</style>
</head>

<body style="background-color:powderblue;">
<!body>
    <div class="content">
        <h1 class="centerheader">Recipe Journal - Index page <br><br>
        <img src="images/files_img.jpg" alt="FilesImage" style="width:150px;height:150px;">
        </h1>
        <h2> {{ msg }}</h2>
        <div>
              <h3>Files</h3>
              <h4>Upload your file here:</h4>
                  <form method="POST" action="/upload" enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                  </form>
        </div>

        <div>
          <h5>These are your uploaded files:</h5>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
</body>
</html>